<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs || <%= title %></title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <%- include('./partials/head') %>
      <body>
        <%- include('./partials/nav') %>
        <main class="about content">
          <h2>About Us</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            reiciendis ab. Modi ipsa, aperiam porro harum mollitia voluptatem
            sequi perferendis.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            reiciendis ab. Modi ipsa, aperiam porro harum mollitia voluptatem
            sequi perferendis.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            reiciendis ab. Modi ipsa, aperiam porro harum mollitia voluptatem
            sequi perferendis.
          </p>
        </main>
        <%- include('./partials/footer') %>
      </body>
    </html>
  </body>
</html>
