<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Node JS Crash Course</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed iste
      assumenda eligendi similique voluptatum voluptate deserunt aspernatur
      atque maxime ex totam molestiae velit earum hic necessitatibus vitae
      magnam quaerat in distinctio non id, beatae expedita dolor? Et non harum
      perspiciatis, corporis culpa, mollitia libero quia sequi aut porro
      aliquam. Distinctio blanditiis dicta fugiat placeat voluptatem sunt eum a
      illum dolorum maiores asperiores iure, et consectetur ipsam? Earum enim
      repudiandae nam soluta perspiciatis, quisquam reiciendis, sed itaque
      quibusdam officia corporis magnam debitis nobis saepe dolore cum quis
      culpa facilis quasi ratione quidem consectetur rerum. Quas perspiciatis
      repellat, veritatis consequuntur ad voluptatum.
    </p>
    <p>
      <a href="https://www.udemy.com/course/node-js-crash-course/">
        Udemy Node JS Crash Course
      </a>
    </p>
  </body>
</html>
